body {
  color: rgb(204, 199, 199);
  background: #5f2c82; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #49a09d,
    #5f2c82
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #49a09d,
    #5f2c82
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input:focus {
  outline: none;
}
input {
  background-color: rgb(207, 195, 195);
  border: 3px solid rgb(88, 88, 104);
  border-radius: 20px;
  height: 30px;
  width: 220px;
  padding: 5px;
}
.todoItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.todoItems div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
